<?xml version="1.0" encoding="UTF-8"?>

<Context path="/@_applicationName_@" docBase="@_applicationName_@" reloadable="true">

    <WatchedResource>WEB-INF/web.xml</WatchedResource>

    <Resource name="jdbc/@_applicationName_@"
            auth="Container"
            type="javax.sql.DataSource"
            username="mhagadmin"
            password="mhagadmin"
            driverClassName="com.mysql.jdbc.Driver"
            url="jdbc:mysql://localhost:3306/mhag"
            factory="org.apache.tomcat.jdbc.pool.DataSourceFactory"
            testOnBorrow="true"
            testOnReturn="true"
            validationQuery="select 1"
            validationInterval="30000"
            maxActive="1000"
            minIdle="0"
            maxWait="60000"
            initialSize="1"
            suspectTimeout="100"
            removeAbandoned="true"
            removeAbandonedTimeout="110"
            logAbandoned="true"
            jmxEnabled="true"
            jdbcInterceptors="org.apache.tomcat.jdbc.pool.interceptor.ConnectionState;
                     org.apache.tomcat.jdbc.pool.interceptor.ResetAbandonedTimer;
                     org.apache.tomcat.jdbc.pool.interceptor.SlowQueryReportJmx(threshold=10000)"/>
</Context>